<br style = “line-height:100px;”>
<h1>License Information</h1>
<a rel="license" href="http://creativecommons.org/licenses/by/4.0/" target="_blank">
    <img alt="Creative Commons License" src="https://i.creativecommons.org/l/by/4.0/88x31.png" align="left" style="margin: 0px 10px 0px 0px; width: 81px; height: 33px;" />
</a>
<p>
    This work is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by/4.0/" target="_blank">Creative Commons Attribution 4.0 International License</a>.
</p>
<br style = “line-height:100px;”>
