{{- $srcurl := (print .Site.BaseURL .Params.fname "/") -}}
{{- $pad := .Params.pad | default 40 -}}
<br style = “line-height:100px;”>
<iframe 
    frameborder="0" 
    style="width:100%;" 
    src="{{- $srcurl -}}"
    onload="this.style.height=(this.contentWindow.document.body.scrollHeight+{{- $pad -}})+'px';"
></iframe>
<br style = “line-height:100px;”>

