{{- $source := .Params.source -}}
{{- $url := .Params.url -}}
{{ if isset .Params "topbr"}}
<br style = “line-height:100px;”>
{{ end }}
<h1 style="font-style: italic;">Featured Picture</h1>
<p style="font-style: italic;">
    This article featured picture is from <a rel="Featured Picture" href="{{- $url -}}" target="_blank">{{- $source -}}</a>.
</p>
{{ if isset .Params "bottombr"}}
<br style = “line-height:100px;”>
{{ end }}
