{{- $srcurl := (print .Site.BaseURL .Params.fname "/") -}}
{{- $height_px := .Params.height_px -}}
<br style = “line-height:100px;”>
<iframe 
    frameborder="0" 
    style="width:100%;height:{{- $height_px -}}px;" 
    src="{{- $srcurl -}}"
></iframe>

<a href="{{- $srcurl -}}" target="_blank">Click Here for Larger Version</a>
<br style = “line-height:100px;”>
